@import "sharedstyle.css";

html
    { background-color: white; font-size: 10pt; margin: 1em 2em 2em 2em;}
.head
    { font-family: "Helvetica"; margin-bottom: 0;}
h1
    { color: #006b6b; margin-bottom: 0;}
h1 a:link, h1 a:visited
    { color: #24b300; text-decoration: none; }
.subhed
    { padding-top: .2em; font-size: 150%;}
.subhed a:link, .subhed a:visited
    { text-decoration: none; }
body
    { font-family: "Georgia";}
h2
    { font-family: "Times", "Times New Roman", "Georgia"; color: #a10048;
      font-weight: normal; font-style: italic; }
table.page
    { width: 100%; table-layout: fixed;}
a:link { color: #046B53; text-decoration: underline;}
a:visited { color: #046B53; text-decoration: none;}

/* front page */
.focus { text-align: center; }/*margin-top: 100px; margin-bottom: 50px;}*/
.focus h1 { margin-bottom: 0; font-size: 45px;}
.focus .subhed { font-size: 25px; }
.focus { font-size: 20px;}
.subhed { margin-top: 0; text-align: center; }
.nav { padding-bottom: 40px; }

.focus .subhed a:link { color: #006b6b; text-decoration: none;}

.front.page td { text-align: center; font-size: 15px;}

.sponsorship { float: right; text-align: left; font-size: x-small}

